name: "Kuti"
author:
  name: "debuqer"
  username: "debuqer"
  description: "Hellllo"
  profile: "salam.jpg"
server:
  host: "localhost" 
  port: "3333"
  url: ""
template:
  dir: "templates/"  
source:
  dir: "source/"  
  ext: "md"