name: "Kuti"
author:
  name: "debuqer"
  username: "debuqer"
  description: "Hellllo"
  profile: "assets/img/logo.png"
server:
  host: "localhost"
  port: "3333"
  url: ""
  ext: "/index.html"
template:
  dir: "templates/"
source:
  dir: "source/"
  ext: "md"
routes:
  "/":
    type: "index"
    dir: ""
    template: "index.html"
  "/article/:filename":
    type: "post"
    dir: ""
    template: "article.html"
  "/help/:filename":
    type: "post"
    dir: "v1/"
    template: "article.html"