{{ template "base" .}}

{{ define "title" }}
    About {{ .Config.Author.Name }}
{{ end }}

{{ define "owner" }}
    {{.Config.Author.Name}}
{{ end }}

{{ define "content" }}
<!-- Begin Article
================================================== -->
<div class="container">
	<div class="row">

		<!-- Begin Fixed Left Share -->
		<div class="col-md-2 col-xs-12">
			<div class="share">

			</div>
		</div>
		<!-- End Fixed Left Share -->

		<!-- Begin Post -->
		<div class="col-md-8 col-md-offset-2 col-xs-12">
            {{ contentof "pages/about" }}
		</div>
		<!-- End Post -->

	</div>
</div>
<!-- End Article
================================================== -->

<div class="hideshare"></div>
{{ end }}