{{ template "base" .}}

{{ define "title" }}
    {{.Config.Name}} - {{ .CurrentPost.Title }}
{{ end }}

{{ define "owner" }}
    {{.Config.Author.Name}}
{{ end }}

{{ define "content" }}
<!-- Begin Article
================================================== -->
<div class="container">
	<div class="row">

		<!-- Begin Fixed Left Share -->
		<div class="col-md-2 col-xs-12">
			<div class="share">

			</div>
		</div>
		<!-- End Fixed Left Share -->

		<!-- Begin Post -->
		<div class="col-md-8 col-md-offset-2 col-xs-12">
            <h1>{{ .CurrentPost.Title }}</h1>
			<!-- Begin Post Content -->
			<div class="article-post">
				{{ .CurrentPost.Content }}
			</div>
			<!-- End Post Content -->


            <!-- Begin Tags -->
            <div class="after-post-tags">
                <ul class="tags">
                    {{ range .CurrentPost.Tags }}
                        <li><a href="#">{{ . }}</a></li>
                    {{ end }}
                </ul>
            </div>

            <div class="mainheading">

                <!-- Begin Top Meta -->
                <div class="row post-top-meta">
                    <div class="col-md-2">
                        <a href=""><img class="author-thumb" src="{{ asset .Config.Author.Profile }}" alt=""></a>
                    </div>
                    <div class="col-md-10">
                        <a class="link-dark" href="">{{ .Config.Author.Name }}</a>
                        <span class="author-description">{{ .Config.Author.Description }}</span>
                        <span class="post-date">{{ .CurrentPost.Date }}</span><span class="dot"></span><span class="post-read">{{ .CurrentPost.EstimatedTime }} min read</span>
                    </div>
                </div>
                <!-- End Top Menta -->

            </div>
            <!-- End Tags -->
		</div>
		<!-- End Post -->

	</div>
</div>
<!-- End Article
================================================== -->

<div class="hideshare"></div>
{{ end }}