{{ template "base" .}}

{{ define "title" }}
    {{.Config.Name}}
{{ end }}

{{ define "owner" }}
    {{.Config.Author.Name}}
{{ end }}

{{ define "content" }}
    <!-- Begin Top Author Page
    ================================================== -->
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 col-md-offset-2">
                <div class="mainheading">
                    Designing
                </div>
            </div>
        </div>
    </div>
{{ end }}